


.BudgetLabel{
    font-size: 18px; 
    text-align: center; 
    margin-bottom: 30px; 
    font-weight: 700; 
}

.BudgetFormContainer{
    display: flex; 
    flex-direction: column; 
    width: 80%; 
    background-color: var(--white);
    padding: 40px 30px 20px; 
    border-radius: 8px; 
    text-transform: uppercase; 
}

@media(min-width: 720px){
    .BudgetFormContainer{
        max-width: 500px; 
        padding: 70px 60px; 
        border-radius: 8px; 
    }
}

.BudgetFormInput{
    width: 100%; 
    padding: 15px;
    margin-bottom: 15px; 
    border-radius: 10px; 
    border: none; 
    background-color: var(--gris-focus); 
    outline: none; 
    text-align: center; 
}

.BudgetFormInput:focus{
    background-color: var(--gris-input);
}

.BudgetFormSubmit{
    padding: 9px;
    border-radius: 10px; 
    border: none; 
    background-color: var(--blue-button);  
    color: white; 
    font-weight: 700;
    text-transform: uppercase; 
}

.BudgetFormSubmit:hover{
    background-color: var(--blue-button-hover);
}