
.BudgetMainContainer{
    width: 80%; 
    padding: 20px; 
    border-radius: 8px; 
}

@media(min-width: 720px){
    .BudgetMainContainer{
        max-width: var(--width); 
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        padding: 50px 40px; 
    }
}

.BudgetContainerCards{
    width: 80%; 
}

@media(min-width: 600px){
    .BudgetContainerCards{
        max-width: 700px;
    }
}

.BudgetEmpty{
    margin-top: 60px;
    text-align: center; 
    color: rgb(0,0,0,0.5);
}

.graphTest{
    width: 150px; 
    height: 150px;
    background-color: #6FA1FB;
    border-radius: 50%; 
}

.BudgetMainText{
    font-weight: 700; 
    color: #012E67; 
    font-size: 20px; 
}

.BudgetMainTextValue{
    color: black; 
    font-weight: normal; 
}

.BudgetMainButton{
    width: 100%; 
    padding: 15px; 
    border: none; 
    background-color: var(--red-button); 
    color: white; 
    text-transform: uppercase; 
    font-weight: 700;
}

.BudgetMainButton:hover{
    background-color: var(--red-button-hover); 
}