
.ItemCard{
    width: 100%;
    padding: 20px; 
    border-radius: 10px; 
    display: flex; 
    justify-content: space-between; 
    background-color: var(--white);
}

@media(min-width: 720px){
    .ItemCard{
        max-width: var(--width); 
    }
}

.ItemCardSub{
    display: flex; 
    gap: 10px; 
    text-align: center; 
}

@media(min-width: 650px){
    .ItemCardSub{
        flex-direction: row; 
        gap: 20px; 
    }
}

.ItemCardImg{
    width: 40px; 
}

@media(min-width: 600px){
    .ItemCardImg{
        width: 64px; 
    }
}

.ItemCardCategory{
    font-weight: 700;
    font-size: 15px; 
    margin: 15px 0; 
}

@media(min-width: 600px){
    .ItemCardCategory{
        font-size: 20px; 
    }
}


.ItemCardName{
    font-size: 13px; 
    font-weight: 700;
    color: rgb(0,0,0,0.7); 
}

@media(min-width: 600px){
    .ItemCardName{
        font-size: 18px; 
    }
}

.ItemCardDate{
    font-size: 11px; 
}

@media(min-width: 600px){
    .ItemCardDate{
        font-size: 16px; 
    }
}

.ItemCardPrice{
    font-size: 17px; 
    font-weight:bolder; 
}

@media(min-width: 600px){
    .ItemCardPrice{
        font-size: 22px; 
    }
}
