

.MessageErrorContainer{
    background-color: var(--message-error); 
    border-radius: 6px; 
    margin-bottom: 15px; 
}

.MessageErrorText{
    font-size: 15px; 
    color: white; 
    text-align: center; 
    margin: 0; 
    padding: 15px; 
}