:root{
    --background: #F8F9F9; 
    --morado-header: #2471A3 ; 
    --gris-input: #EBEBEB; 
    --gris-focus: #F8F8F8; 
    --message-error: #DA1818; 
    --red-button: #CC0000; 
    --red-button-hover: #FF0800; 
    --blue-button: #0249CB;
    --blue-button-hover: #0A5AEE;
    --white: #FFF;   
    --width: 700px; 
} 

*{
    box-sizing: border-box; 
}

html{
    font-size: 62.5%; 
}

body{
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 

    background-color: #EAECEE; 
}

.m-c{
    margin: auto; 
}

.mt-60{
    margin-top: 60px; 
}

.mt-100{
    margin-top: 100px; 
}

.mt-20{
    margin-top: 20px; 
}

.mb-20{
    margin-bottom: 20px; 
}

.center{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.shadow{
    box-shadow: 1px 1px 5px -1px black; 
}

.swipe-action__leading{
    background-color: var(--blue-button); 
    color: white; 
    font-weight: 700;
    margin: 20px 0; 
}

.swipe-action__trailing{
    background-color: var(--message-error); 
    color: white; 
    font-weight: 700; 
    margin: 20px 0; 
}

.swipeable-list .swipe-action{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: right; 
    font-size: 20px; 
}
